In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from bs4 import NavigableString

data_dir = 'mens-machine-learning-competition-2019/DataFiles/'

In [2]:
import requests

In [3]:
df_teams = pd.read_csv(data_dir + "Teams.csv")
df_sos_rankings = pd.read_csv("sos.csv")

In [4]:
team_sos = []

In [5]:
# for season in range(2000, 2020):
#     url = "https://www.sports-reference.com/cbb/seasons/{}-ratings.html".format(season)
#     print(url)
#     page = requests.get(url)
#     soup = BeautifulSoup(page.content, 'html.parser')
#     tbody = soup.find('tbody').find_all('tr')  
#     for item in tbody:
#         if isinstance(item, NavigableString):
#                 continue
#         if item.get('class') is None:
#             sos = item.find_all('td')[9].get_text()
#             team = item.find_all('td')[0].find('a').get_text()
#             team_sos.append([season, team, sos ])
# df_sos_rankings = pd.DataFrame(team_sos, columns=['Season', 'TeamName', 'SOS'])
# df_sos_rankings.head(10)

In [6]:
# wrong_names = sorted(df_sos_rankings.TeamName.unique())
# names = sorted(df_teams.TeamName.unique())
# data = []
# for num in range(max(len(wrong_names), len(names))):
#     datum = []
#     if num < len(names):
#         datum.append(names[num])
#     else:
#         datum.append('')
#     if num < len(wrong_names):
#         datum.append(wrong_names[num]) 
#     else:
#         datum.append('')
#     data.append(datum)

# df_team_comp = pd.DataFrame(data, columns=['Name', 'WrongName'])

In [7]:
df_sos_rankings = pd.merge(left=df_teams, right=df_sos_rankings, how="left", on=["TeamName"])
# df_sos_rankings.loc[df_sos_rankings]
df_sos_rankings[df_sos_rankings['SOS'].isnull()].head(100)

,TeamID,TeamName,FirstD1Season,LastD1Season,Unnamed: 0,Season,SOS
146,1109,Alliant Intl,1985,1991,NaN,NaN,NaN
307,1118,Armstrong St,1987,1987,NaN,NaN,NaN
348,1121,Augusta,1985,1991,NaN,NaN,NaN
570,1134,Brooklyn,1985,1992,NaN,NaN,NaN
1001,1158,Col Charleston,1992,2019,NaN,NaN,NaN
1162,1167,CS Bakersfield,2008,2019,NaN,NaN,NaN
2064,1215,Hardin-Simmons,1985,1990,NaN,NaN,NaN
2254,1226,Idaho St,1985,2019,NaN,NaN,NaN
2575,1244,Kennesaw,2006,2019,NaN,NaN,NaN
3631,1302,NE Illinois,1991,1998,NaN,NaN,NaN
4046,1326,Ohio St,1985,2019,NaN,NaN,NaN
4047,1327,Okla City,1985,1985,NaN,NaN,NaN
4748,1364,Santa Barbara,1985,2019,NaN,NaN,NaN
5133,1386,St Joseph's PA,1985,2019,NaN,NaN,NaN
5154,1388,St Mary's CA,1985,2019,NaN,NaN,NaN
5612,1412,UAB,1985,2019,NaN,NaN,NaN
5703,1418,ULL,1985,2019,NaN,NaN,NaN
5764,1422,UNC Greensboro,1992,2019,NaN,NaN,NaN
5935,1432,Utica,1985,1987,NaN,NaN,NaN
6176,1445,W Salem St,2007,2010,NaN,NaN,NaN
6177,1446,W Texas A&M,1985,1986,NaN,NaN,NaN