In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from bs4 import NavigableString

data_dir = 'mens-machine-learning-competition-2019/DataFiles/'

In [2]:
import requests

In [3]:
df_teams = pd.read_csv(data_dir + "Teams.csv")

In [4]:
team_sos = []

In [5]:
for season in range(2000, 2020):
    url = "https://www.sports-reference.com/cbb/seasons/{}-ratings.html".format(season)
    print(url)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    tbody = soup.find('tbody').find_all('tr')  
    for item in tbody:
        if isinstance(item, NavigableString):
                continue
        if item.get('class') is None:
            sos = item.find_all('td')[9].get_text()
            team = item.find_all('td')[0].find('a').get_text()
            team_sos.append([season, team, sos ])
df_sos_rankings = pd.DataFrame(team_sos, columns=['Season', 'TeamName', 'SOS'])
df_sos_rankings.head(10)

https://www.sports-reference.com/cbb/seasons/2000-ratings.html
https://www.sports-reference.com/cbb/seasons/2001-ratings.html
https://www.sports-reference.com/cbb/seasons/2002-ratings.html
https://www.sports-reference.com/cbb/seasons/2003-ratings.html
https://www.sports-reference.com/cbb/seasons/2004-ratings.html
https://www.sports-reference.com/cbb/seasons/2005-ratings.html
https://www.sports-reference.com/cbb/seasons/2006-ratings.html
https://www.sports-reference.com/cbb/seasons/2007-ratings.html
https://www.sports-reference.com/cbb/seasons/2008-ratings.html
https://www.sports-reference.com/cbb/seasons/2009-ratings.html
https://www.sports-reference.com/cbb/seasons/2010-ratings.html
https://www.sports-reference.com/cbb/seasons/2011-ratings.html
https://www.sports-reference.com/cbb/seasons/2012-ratings.html
https://www.sports-reference.com/cbb/seasons/2013-ratings.html
https://www.sports-reference.com/cbb/seasons/2014-ratings.html
https://www.sports-reference.com/cbb/seasons/2015-ratings.html
https://www.sports-reference.com/cbb/seasons/2016-ratings.html
https://www.sports-reference.com/cbb/seasons/2017-ratings.html
https://www.sports-reference.com/cbb/seasons/2018-ratings.html
https://www.sports-reference.com/cbb/seasons/2019-ratings.html

   Season        TeamName   SOS
0    2000        Stanford  7.12
1    2000            Duke  8.88
2    2000  Michigan State  9.91
3    2000      Cincinnati  8.50
4    2000         Florida  8.51
5    2000          Temple  6.94
6    2000           Texas  9.61
7    2000  Oklahoma State  6.59
8    2000           Tulsa  2.42
9    2000        Illinois  9.60

In [6]:
df_sos_rankings.to_csv('/Users/kevingnadinger/Desktop/March Madness/sos.csv')

In [17]:
wrong_names = df_sos_rankings.TeamName.unique().sort(axis=0)
print(wrong_names)
names = df_teams.TeamName.unique()
print(names, wrong_names)
data = []
for num in range(max(len(wrong_names), len(names))):
    datum = []
    if num < len(names):
        datum.append(names[num])
    else:
        datum.append('')
    if num < len(wrong_names):
        datum.append(wrong_names[num]) 
    else:
        datum.append('')
    data.append(datum)

df_team_comp = pd.DataFrame(data, columns=['Name', 'WrongName'])
df_team_comp.head(100)

AxisError: axis 1 is out of bounds for array of dimension 1